<div class="panel-group" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default" role="tab">
		<div class="panel-heading">
			<h2 class="panel-title " translate>order.manage.title</h2>
		</div>
		<div class="panel-body">			
			<div class="row">
				<div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-md-1" for="orderNo" translate>order.number</label>
                        <div class="col-md-4">
                            <input class="form-control" id="orderNo" ng-model="ctrl.searchParams.orderNo" />
                        </div>
                        <label class="control-label col-md-1" for="siteName" translate>site.name</label>
                        <div class="col-md-4">
                            <input class="form-control" id=""siteName"" ng-model="ctrl.searchParams.siteName" />
                        </div>
                    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 btn-toolbar">
					<button class="btn btn-primary pull-right" id="reset" type="button" ng-click="ctrl.reset();" translate>rest</button>
					<button class="btn btn-danger pull-right" id="search" type="button" ng-click="ctrl.search();" translate>search</button>
				</div>
			</div>
		</div>
		<div class="panel-heading">
			<h2 class="panel-title "></h2>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div ui-grid="ctrl.gridOptions" ui-grid-save-state ui-grid-selection ui-grid-auto-resize ui-grid-pagination ui-grid-gridfooter></div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-xs-12 col-md-12 btn-toolbar">
					<button class="btn btn-primary pull-right" id="cancel" type="button" ng-click="ctrl.cancel();" translate>cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>