body {
    padding-top: 70px;
}

input .number{
	text-align:right;
}

.page{
    min-height: 400px;
}

footer{
    margin-top:50px;
    padding-top:50px;
}

.toolbar{
    margin:10px;
}

.form-horizontal .control-label {
    white-space: nowrap;
}